[submodule "associations-sync-server"]
    path = associations-sync-server
    url = https://github.com/hubspotdev/associations-sync-server.git

[submodule "crm-object-sync"]
    path = crm-object-sync
    url = https://github.com/hubspotdev/crm-object-sync.git

[submodule "property-mapping-client"]
    path = property-mapping-client
    url = https://github.com/hubspotdev/property-mapping-client.git

[submodule "property-mapping-server"]
    path = property-mapping-server
    url = https://github.com/hubspotdev/property-mapping-server.git
